[submodule "projects/QAA"]
	path = projects/QAA
	url = https://github.com/xjh19971/QAA
[submodule "projects/STHN"]
	path = projects/STHN
	url = https://github.com/xjh19971/STHN
[submodule "projects/UASTHN"]
	path = projects/UASTHN
	url = https://github.com/xjh19971/UASTHN
[submodule "projects/STGL"]
	path = projects/STGL
	url = https://github.com/xjh19971/STGL
[submodule "projects/ThermalGen"]
	path = projects/ThermalGen
	url = https://github.com/xjh19971/ThermalGen
[submodule "projects/VG-SSL"]
	path = projects/VG-SSL
	url = https://github.com/xjh19971/VG-SSL
